<div class="about">
  <md-card>
    <md-card-title>
      <h1>About</h1>
    </md-card-title>
    <md-card-content>
      <p><strong>Egg Crackin!</strong> is an angular2 app, built with angular2-material components.</p><hr/>
      <p>It receives the results for any recipe or ingredients query from
        <a href="http://food2fork.com/">Food2Fork.</a></p>
        <br>
        <p>Source code available on <a href="https://github.com/mswift42/egg-crackin">Github</a></p>
    </md-card-content>
  </md-card>
</div>
