.routerlinks {
    margin-top:55px;
}
md-sidenav.md-sidenav-opened {
    background-color: 
    rgba(0,0,0,0.81);
}
md-sidenav.md-sidenav-opened a {
    color:#eaeaea;
}
md-toolbar span {
    padding:2em;
}