<md-sidenav-layout>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span>EggCrackin!</span>
  </md-toolbar>

  <md-sidenav #sidenav mode="side" opened="true" class="app-sidenav">
    <div class="routerlinks">
      <a [routerLink]="['/recipesearch']">Search Recipes</a>
      <a [routerLink]="['/favourites']">Favourites</a>
    </div>
  </md-sidenav>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>
<!--<app-recipesview></app-recipesview>-->
